@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Acme&family=Bangers&family=Frijole&family=Langar&family=Shadows+Into+Light&family=Special+Elite&display=swap");

* {
  font-family: "Open Sans", sans-serif;
}

a {
  transition: 0.5s;
  text-decoration: none;
}

a:hover,
a:active,
a:focus {
  outline: none;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0 0 30px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
}

/* preloader */

#loading {
  z-index: 1000;
  position: fixed;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000;
  transition: all 0.5s ease-in-out;
}

.multi-spinner-container {
  z-index: 1000;
  position: relative;
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  overflow: hidden;
}

.multi-spinner {
  position: absolute;
  width: calc(100% - 9.9px);
  height: calc(100% - 9.9px);
  border: 5px solid transparent;
  border-top-color: #ff0000;
  border-radius: 50%;
  -webkit-animation: spin 3s cubic-bezier(0.17, 0.49, 0.96, 0.76) infinite;
  animation: spin 3s cubic-bezier(0.17, 0.49, 0.96, 0.76) infinite;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/* preloaded end */

/* header */
#header {
  overflow-y: hidden;
  height: 80px;
  transition: all 0.5s;
  z-index: 997;
  transition: all 0.5s;
  padding: 20px 0;
  background-color: #000000;
  justify-content: space-between;
}

.center {
  margin: auto;
  text-align: center;
  color: #ffffff;
}

#header.header-scrolled,
#header.header-pages {
  height: 60px;
  padding: 10px 0;
}

#header .logo h1 {
  font-size: 36px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
}

#header .logo h1 a span,
#header .logo h1 a span:hover {
  color: #ffffff;
  font-family: Frijole;
  text-decoration: none;
}

#header .logo img {
  padding: 0;
  margin: 7px 0;
  max-height: -webkit-fill-available;
}

.main-pages {
  margin-top: 60px;
}
/* header end */

/* mobile navigation bar */
.menu-btn {
  margin-top: 20px;
  display: none;
  align-items: center;
  justify-content: center;
  width: 10px;
  height: 10px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.menu-btn .menu-btn__burger {
  width: 40px;
  height: 4px;
  background: rgb(255, 0, 0);
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.5s ease-in-out;
}

.menu-btn .menu-btn__burger::before,
.menu-btn .menu-btn__burger::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 4px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.menu-btn .menu-btn__burger::before {
  transform: translateY(-16px);
}
.menu-btn .menu-btn__burger::after {
  transform: translateY(16px);
}

.menu-btn.open .menu-btn__burger {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}
.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}
.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}
/* mobie maviagation end */

/* desktop nav */

.main-nav-v {
  /* Drop Down */
  /* Deep Drop Down */
}

.main-nav-v,
.main-nav-v * {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.main-nav-v.show,
.main-nav-v * {
  transform: translateX(0);
}

.main-nav-v > ul > li {
  position: relative;
  white-space: nowrap;
  float: left;
}

.main-nav-v a {
  text-decoration: none;
  display: block;
  position: relative;
  color: #d00b02;
  padding: 10px 15px;
  transition: 0.3s;
  font-size: 1rem;
  font-weight: 500;
}

.main-nav-v a:hover,
.main-nav-v .active > a,
.main-nav-v li:hover > a {
  color: white;
  text-decoration: none;
}

/* desktop nav end */

/* intro */

#intro {
  width: 100%;
  padding: 210px 0 100px;
  overflow: hidden;
  position: relative;
  background: #111310;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
  );
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-blend-mode: screen;
}

#intro .container {
  max-width: 70%;
}

#intro .intro-img {
  width: 60%;
  float: right;
}

#intro .intro-info {
  text-align: center;
  width: 30%;
  float: left;
}

#intro .intro-info h1 {
  color: #fff;
  margin-bottom: 40px;
  font-size: 2.5rem;
  font-weight: 700;
  overflow: hidden;
  white-space: nowrap;
  animation: animated-text 2s steps(60, end) 1s 1 normal both;
}

@keyframes animated-text {
  from {
    width: 0;
  }
  to {
    width: 330px;
  }
}

#intro .intro-info h1 span {
  color: #d00b02;
}

#intro .intro-info .btn-get-started,
#intro .intro-info .btn-services {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 32px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 0 20px 20px 0;
  color: #fff;
}

#intro .intro-info .btn-get-started {
  background: #111310;
  border: 2px solid #fff;
  color: #fff;
}

#intro .intro-info .btn-get-started:hover {
  background: #d00b02;
  border-color: #d00b02;
  color: #fff;
}

#intro .intro-info .btn-services {
  background: #111310;
  border: 2px solid #fff;
  color: #fff;
}

#intro .intro-info .btn-services:hover {
  background: #d00b02;
  border-color: #d00b02;
  color: #fff;
}

/* intro end */

/* About */
#about {
  background-color: #111310;
  color: white;
  padding: 0 0;
  overflow: hidden;
}

#about .about-extra {
  padding-top: 60px;
  transform: translateX(400%);
  transition: transform 0.6s ease;
}

#about .about-extra:nth-of-type(even) {
  transform: translateX(-400%);
}

#about .about-extra.show {
  transform: translateX(0);
}

#about .about-extra h4 {
  color: red;
  font-weight: 600;
  font-size: 24px;
}

#about .about-extra p {
  color: rgb(194, 174, 151);
}

#more1 {
  display: none;
}

#myBtn1 {
  background: transparent;
  border: none;
  transition: 0.5s;
  transition-property: transform;
  color: red;
}

#myBtn1:focus,
#myBtn1:hover,
#myBtn1:active {
  outline: none;
  transform: scale(1.2);
}

#more2 {
  display: none;
}

#myBtn2 {
  background: transparent;
  border: none;
  transition: 0.5s;
  transition-property: transform;
  color: red;
}

#myBtn2:focus,
#myBtn2:hover,
#myBtn2:active {
  outline: none;
  transform: scale(1.2);
}

#more3 {
  display: none;
}

#myBtn3 {
  background: transparent;
  border: none;
  transition: 0.5s;
  transition-property: transform;
  color: red;
}

#myBtn3:focus,
#myBtn3:hover,
#myBtn3:active {
  outline: none;
  transform: scale(1.2);
}

#more {
  display: none;
}

#myBtn {
  background: transparent;
  border: none;
  transition: 0.5s;
  transition-property: transform;
  color: red;
}

#myBtn:focus,
#myBtn:hover,
#myBtn:active {
  outline: none;
  transform: scale(1.2);
}

/* about us end */

/* clubs */
#services {
  position: relative;
  opacity: 1;
  padding: 60px 0 40px 0;
  box-shadow: inset 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
}

#services {
  background: #111310;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("../img/gk/Geekonix Logo_White.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-blend-mode: screen;
  min-height: 100%;
  color: white;
}

#services .section-header {
  filter: contrast(4);
}

#services .section-header h3 {
  color: red;
  font-size: 3.5rem;
  font-weight: 700;
  text-align: center;
}

#services .section-header p {
  color: red;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
}

#services .box {
  padding: 45px;
  height: 450px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 10px;
  margin: 0 10px 40px 10px;
  background: rgb(0, 0, 0);
  box-shadow: 0 40px 40px rgba(26, 25, 25, 0.2),
    0px 0px 50px rgba(59, 52, 52, 0.329);
  transition: all 0.3s ease-in-out;
}

#services .box:hover {
  transform: scale(1.1);
}

#services .box .icon {
  margin-top: 40px;
  transition: all 0.3s ease-in-out;
}

#services .box:hover .icon {
  box-shadow: 0 40px 40px rgba(26, 25, 25, 0.2),
    0px 0px 50px rgba(255, 0, 0, 0.822);
  border-radius: 50%;
  transform: scale(1.25);
  margin-top: 30px;
  margin-bottom: 40px;
}

#services .box .icon img {
  width: 120px;
  transition: all 0.5s ease;
}

#services .box .icon img:hover {
  transform: translateZ(200px) rotateZ(-45deg);
}

#services .title {
  color: red;
  font-weight: bold;
}

/* clubs end */

/* back to top button */
.back-to-top {
  position: fixed;
  display: none;
  background: red;
  color: #fff;
  width: 44px;
  height: 44px;
  text-align: center;
  line-height: 1;
  font-size: 16px;
  border-radius: 30%;
  right: 20px;
  bottom: 15px;
  transition: 0.5s;
  z-index: 11;
  transition: all 0.7s ease-in-out;
}

.back-to-top i {
  padding-top: 12px;
  color: #fff;
}

.back-to-top:hover {
  bottom: 30px;
  transform: scale(1.1);
}

/* back to top end */

/* responsivness */
@media screen and (max-width: 1200px) {
  #intro .intro-img,
  #intro .intro-info {
    float: none;
  }

  #intro .intro-info {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  #intro .intro-img {
    margin-top: 30px;
    width: 100%;
  }

  #services .box .icon {
    margin-top: 50px;
  }

  #services .title {
    font-size: 1.2rem;
    font-weight: bold;
  }

  #services .description {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 1000px) {
  .main-nav-v,
  .main-nav-v * {
    display: none;
    flex-direction: column;
  }

  .menu-btn {
    display: block;
  }

  #services .box {
    height: 500px;
  }

  #services .box .icon {
    margin-top: 20px;
  }
}

@media screen and (max-width: 767px) {
  p {
    font-size: 0.8rem;
    text-indent: center;
  }

  #about .about-extra p {
    font-size: 0.8rem;
  }

  .menu-btn {
    display: block;
    margin-right: 40px;
  }

  .menu-btn .menu-btn__burger {
    width: 40px;
    height: 4px;
    background: rgb(255, 0, 0);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
    transition: all 0.5s ease-in-out;
  }

  .menu-btn .menu-btn__burger::before,
  .menu-btn .menu-btn__burger::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 4px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
    transition: all 0.5s ease-in-out;
    cursor: pointer;
  }
  #intro .intro-img {
    display: none;
  }

  #services .section-header h3 {
    font-size: 3rem;
  }

  #services .section-header p {
    font-size: 1.5rem;
  }
}

@media (max-width: 480px) {
  .menu-btn {
    display: block;
    margin-right: 50px;
  }

  #header .logo img {
    height: 60px;
  }
  #header .logo h1 a span,
  #header .logo h1 a span:hover {
    display: none;
  }

  #header .logo h1 a {
    font-size: 1rem;
  }

  #intro .intro-info h1 {
    font-size: 1rem;
    max-width: 280px;
    font-size: 2rem;
    padding: 0;
  }

  #intro .intro-img {
    display: none;
  }

  #intro .intro-info .btn-get-started,
  #intro .intro-info .btn-services {
    padding: 10px;
  }

  #services .box .icon {
    margin-top: 40px;
  }
}

@media (max-width: 300px) {
  #intro .intro-info h1 {
    max-width: 200px;
    font-size: 1.3rem;
    padding: 0;
  }
}

@media (max-width: 280px) {
  #services .box {
    margin-bottom: 30px;
  }

  #services .box .icon img:hover {
    transform: translateZ(0) rotateZ(0);
  }

  #services .box:hover {
    transform: scale(1);
  }
}
