@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Acme&family=Bangers&family=Frijole&family=Langar&family=Shadows+Into+Light&family=Special+Elite&display=swap");

* {
  font-family: "Open Sans", sans-serif;
}

a {
  color: #007bff;
  transition: 0.5s;
  text-decoration: none;
}

a:hover,
a:active,
a:focus {
  color: #0b6bd3;
  outline: none;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0 0 30px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
}

/* header */
#header {
  overflow-y: hidden;
  height: 80px;
  transition: all 0.5s;
  z-index: 997;
  transition: all 0.5s;
  padding: 20px 0;
  background-color: #000000;
  justify-content: space-between;
}

.center {
  margin: auto;
  text-align: center;
  color: #ffffff;
}

#header.header-scrolled,
#header.header-pages {
  height: 60px;
  padding: 10px 0;
}

#header .logo h1 {
  font-size: 36px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
}

#header .logo h1 a span,
#header .logo h1 a span:hover {
  color: #ffffff;
  font-family: Frijole;
  text-decoration: none;
}

#header .logo img {
  padding: 0;
  margin: 7px 0;
  max-height: -webkit-fill-available;
}

.main-pages {
  margin-top: 60px;
}

/* mobile navigation bar */
.menu-btn {
  margin-top: 20px;
  display: none;
  align-items: center;
  justify-content: center;
  width: 10px;
  height: 10px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.menu-btn .menu-btn__burger {
  width: 40px;
  height: 4px;
  background: rgb(255, 0, 0);
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.5s ease-in-out;
}

.menu-btn .menu-btn__burger::before,
.menu-btn .menu-btn__burger::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 4px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.menu-btn .menu-btn__burger::before {
  transform: translateY(-16px);
}
.menu-btn .menu-btn__burger::after {
  transform: translateY(16px);
}

.menu-btn.open .menu-btn__burger {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}
.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}
.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}
/* mobie maviagation end */

/* desktop nav */
.main-nav-v,
.main-nav-v * {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.main-nav-v.show,
.main-nav-v * {
  transform: translateX(0);
}

.main-nav-v > ul > li {
  position: relative;
  white-space: nowrap;
  float: left;
}

.main-nav-v a {
  text-decoration: none;
  display: block;
  position: relative;
  color: #d00b02;
  padding: 10px 15px;
  transition: 0.3s;
  font-size: 1rem;
  font-weight: 500;
}

.main-nav-v a:hover,
.main-nav-v .active > a,
.main-nav-v li:hover > a {
  color: white;
  text-decoration: none;
}

.main-nav-v .drop-down ul {
  display: block;
  position: absolute;
  left: 0;
  top: calc(100% + 30px);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  padding: 10px 0;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: ease all 0.3s;
}

.main-nav-v .drop-down:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.main-nav-v .drop-down li {
  min-width: 180px;
  position: relative;
}

.main-nav-v .drop-down ul a {
  padding: 10px 20px;
  font-size: 13px;
  color: #004289;
}

.main-nav-v .drop-down ul a:hover,
.main-nav-v .drop-down ul .active > a,
.main-nav-v .drop-down ul li:hover > a {
  color: #007bff;
}

.main-nav-v .drop-down > a:after {
  content: "\f107";
  padding-left: 10px;
}

.main-nav-v .drop-down .drop-down ul {
  top: 0;
  left: calc(100% - 30px);
}

.main-nav-v .drop-down .drop-down:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
}

.main-nav-v .drop-down .drop-down > a {
  padding-right: 35px;
}

.main-nav-v .drop-down .drop-down > a:after {
  content: "\f105";
  position: absolute;
  right: 15px;
}

/* intro */

#intro {
  width: 100%;
  position: relative;
  background-color: #111310;
  background-size: cover;
  padding: 210px 0 100px;
  overflow: hidden;
}

#intro .container {
  max-width: 70%;
}

#intro .intro-img {
  width: 60%;
  float: right;
}

#intro .intro-info {
  text-align: center;
  width: 30%;
  float: left;
}

#intro .intro-info h1 {
  color: #fff;
  margin-bottom: 40px;
  font-size: 2.5rem;
  font-weight: 700;
  overflow: hidden;
  white-space: nowrap;
  animation: animated-text 2s steps(60, end) 1s 1 normal both;
}

@keyframes animated-text {
  from {
    width: 0;
  }
  to {
    width: 330px;
  }
}

#intro .intro-info h1 span {
  color: #d00b02;
}

#intro .intro-info .btn-get-started,
#intro .intro-info .btn-services {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 32px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 0 20px 20px 0;
  color: #fff;
}

#intro .intro-info .btn-get-started {
  background: #111310;
  border: 2px solid #fff;
  color: #fff;
}

#intro .intro-info .btn-get-started:hover {
  background: #d00b02;
  border-color: #d00b02;
  color: #fff;
}

#intro .intro-info .btn-services {
  background: #111310;
  border: 2px solid #fff;
  color: #fff;
}

#intro .intro-info .btn-services:hover {
  background: #d00b02;
  border-color: #d00b02;
  color: #fff;
}

/* About */
#about {
  background-color: #111310;
  color: white;
  padding: 0px 0;
  overflow: hidden;
}

#about .about-extra {
  padding-top: 60px;
  transform: translateX(400%);
  transition: transform 0.6s ease;
}

#about .about-extra:nth-of-type(even) {
  transform: translateX(-400%);
}

#about .about-extra.show {
  transform: translateX(0);
}

#about .about-extra h4 {
  color: red;
  font-weight: 600;
  font-size: 24px;
}

#about .about-extra p {
  color: rgb(194, 174, 151);
}

#more1 {
  display: none;
}

#myBtn1 {
  background: transparent;
  border: none;
  transition: 0.5s;
  transition-property: transform;
  color: red;
}

#myBtn1:focus,
#myBtn1:hover,
#myBtn1:active {
  outline: none;
  transform: scale(1.2);
}

#more2 {
  display: none;
}

#myBtn2 {
  background: transparent;
  border: none;
  transition: 0.5s;
  transition-property: transform;
  color: red;
}

#myBtn2:focus,
#myBtn2:hover,
#myBtn2:active {
  outline: none;
  transform: scale(1.2);
}

#more3 {
  display: none;
}

#myBtn3 {
  background: transparent;
  border: none;
  transition: 0.5s;
  transition-property: transform;
  color: red;
}

#myBtn3:focus,
#myBtn3:hover,
#myBtn3:active {
  outline: none;
  transform: scale(1.2);
}

#more {
  display: none;
}

#myBtn {
  background: transparent;
  border: none;
  transition: 0.5s;
  transition-property: transform;
  color: red;
}

#myBtn:focus,
#myBtn:hover,
#myBtn:active {
  outline: none;
  transform: scale(1.2);
}

/* responsivness */

@media screen and (max-width: 1200px) {
  #intro .intro-img,
  #intro .intro-info {
    float: none;
  }

  #intro .intro-info {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  #intro .intro-img {
    margin-top: 30px;
    width: 100%;
  }
}

@media screen and (max-width: 1000px) {
  .main-nav-v,
  .main-nav-v * {
    display: none;
    flex-direction: column;
  }

  .menu-btn {
    display: block;
  }
}

@media screen and (max-width: 767px) {
  p {
    font-size: 0.8rem;
    text-indent: center;
  }

  #about .about-extra p {
    font-size: 0.8rem;
  }

  .menu-btn {
    display: block;
    margin-right: 40px;
  }

  .menu-btn .menu-btn__burger {
    width: 40px;
    height: 4px;
    background: rgb(255, 0, 0);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
    transition: all 0.5s ease-in-out;
  }

  .menu-btn .menu-btn__burger::before,
  .menu-btn .menu-btn__burger::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 4px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
    transition: all 0.5s ease-in-out;
    cursor: pointer;
  }
  #intro .intro-img {
    display: none;
  }
}

@media (max-width: 480px) {
  .menu-btn {
    display: block;
    margin-right: 50px;
  }

  #header .logo img {
    height: 60px;
  }
  #header .logo h1 a span,
  #header .logo h1 a span:hover {
    display: none;
  }

  #header .logo h1 a {
    font-size: 1rem;
  }

  #intro .intro-info h1 {
    font-size: 1rem;
    max-width: 280px;
    font-size: 2rem;
    padding: 0;
  }

  #intro .intro-img {
    display: none;
  }

  #intro .intro-info .btn-get-started,
  #intro .intro-info .btn-services {
    padding: 10px;
  }
}

@media (max-width: 300px) {
  #intro .intro-info h1 {
    max-width: 200px;
    font-size: 1.3rem;
    padding: 0;
  }
}
