@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Acme&family=Bangers&family=Frijole&family=Langar&family=Shadows+Into+Light&family=Special+Elite&display=swap");

* {
  font-family: "Open Sans", sans-serif;
}

a {
  transition: 0.5s;
  text-decoration: none;
}

a:hover,
a:active,
a:focus {
  outline: none;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0 0 30px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
}

/* preloader */
#loading {
  z-index: 1000;
  position: fixed;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000;
  transition: all 0.5s ease-in-out;
}

.multi-spinner-container {
  z-index: 1000;
  position: relative;
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  overflow: hidden;
}

.multi-spinner {
  position: absolute;
  width: calc(100% - 9.9px);
  height: calc(100% - 9.9px);
  border: 5px solid transparent;
  border-top-color: #ff0000;
  border-radius: 50%;
  -webkit-animation: spin 3s cubic-bezier(0.17, 0.49, 0.96, 0.76) infinite;
  animation: spin 3s cubic-bezier(0.17, 0.49, 0.96, 0.76) infinite;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/* preloaded end */

/* header */
#header {
  overflow: hidden;
  height: 80px;
  transition: all 0.5s;
  z-index: 997;
  transition: all 0.5s;
  padding: 20px 0;
  background-color: #000000;
  justify-content: space-between;
}

.center {
  margin: auto;
  text-align: center;
  color: #ffffff;
}

#header.header-scrolled,
#header.header-pages {
  height: 60px;
  padding: 10px 0;
}

#header .logo h1 {
  font-size: 36px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
}

#header .logo h1 a span,
#header .logo h1 a span:hover {
  color: #ffffff;
  font-family: Frijole;
  text-decoration: none;
}

#header .logo img {
  padding: 0;
  margin: 7px 0;
  max-height: -webkit-fill-available;
}

.main-pages {
  margin-top: 60px;
}
/* header end */

/* mobile navigation bar */
.menu-btn {
  margin-top: 20px;
  display: none;
  align-items: center;
  justify-content: center;
  width: 10px;
  height: 10px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.menu-btn .menu-btn__burger {
  width: 40px;
  height: 4px;
  background: rgb(255, 0, 0);
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.5s ease-in-out;
}

.menu-btn .menu-btn__burger::before,
.menu-btn .menu-btn__burger::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 4px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.menu-btn .menu-btn__burger::before {
  transform: translateY(-16px);
}
.menu-btn .menu-btn__burger::after {
  transform: translateY(16px);
}

.menu-btn.open .menu-btn__burger {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}
.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}
.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}

/* mobie maviagation end */

/* desktop nav */

.main-nav-v {
  /* Drop Down */
  /* Deep Drop Down */
}

.main-nav-v,
.main-nav-v * {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.main-nav-v.show,
.main-nav-v * {
  transform: translateX(0);
}

.main-nav-v > ul > li {
  position: relative;
  white-space: nowrap;
  float: left;
}

.main-nav-v a {
  text-decoration: none;
  display: block;
  position: relative;
  color: #d00b02;
  padding: 10px 15px;
  transition: 0.3s;
  font-size: 1rem;
  font-weight: 500;
}

.main-nav-v a:hover,
.main-nav-v .active > a,
.main-nav-v li:hover > a {
  color: white;
  text-decoration: none;
}

/* desktop nav end */

/* intro */

#intro {
  width: 100%;
  padding: 210px 0 100px;
  overflow: hidden;
  position: relative;
  background: #1d1d1d;
  box-shadow: inset 0px 0px 12px 0px rgba(255, 0, 0, 0.315);
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  );
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-blend-mode: screen;
}

#intro .container {
  max-width: 70%;
}

#intro .intro-img {
  width: 60%;
  float: right;
}

#intro .intro-info {
  text-align: center;
  width: 30%;
  float: left;
}

#intro .intro-info h1 {
  color: #fff;
  margin-bottom: 40px;
  font-size: 2.5rem;
  font-weight: 700;
  overflow: hidden;
  white-space: nowrap;
  animation: animated-text 2s steps(60, end) 1s 1 normal both;
}

@keyframes animated-text {
  from {
    width: 0;
  }
  to {
    width: 330px;
  }
}

#intro .intro-info h1 span {
  color: #d00b02;
}

#intro .intro-info .btn-get-started,
#intro .intro-info .btn-services {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 32px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 0 20px 20px 0;
  color: #fff;
}

#intro .intro-info .btn-get-started {
  background: #111310;
  border: 2px solid #fff;
  color: #fff;
}

#intro .intro-info .btn-get-started:hover {
  background: #d00b02;
  border-color: #d00b02;
  color: #fff;
}

#intro .intro-info .btn-services {
  background: #111310;
  border: 2px solid #fff;
  color: #fff;
}

#intro .intro-info .btn-services:hover {
  background: #d00b02;
  border-color: #d00b02;
  color: #fff;
}

.hover-zoomin a {
  display: block;
  position: relative;
  overflow: hidden;
}
.hover-zoomin img {
  width: 100%;
  height: auto;
  transition: all 0.5s ease-in-out;
}

.hover-zoomin:hover img {
  transform: scale(1.2);
}

/* intro end */

/* About */
#about {
  background-color: #1d1d1d;
  color: white;
  padding-top: 60px;
  padding-bottom: 90px;
  overflow: hidden;
}

#about .about-extra {
  padding-top: 60px;
  transform: translateX(400%);
  transition: transform 0.6s ease;
}

#about .about-extra:nth-of-type(even) {
  transform: translateX(-400%);
}

#about .about-extra.show {
  transform: translateX(0);
}

#about .about-extra h4 {
  color: red;
  font-weight: 600;
  font-size: 24px;
}

#about .about-extra p {
  color: rgb(194, 174, 151);
}

#more1 {
  display: none;
}

#myBtn1 {
  background: transparent;
  border: none;
  transition: 0.5s;
  transition-property: transform;
  color: red;
}

#myBtn1:focus,
#myBtn1:hover,
#myBtn1:active {
  outline: none;
  transform: scale(1.2);
}

#more2 {
  display: none;
}

#myBtn2 {
  background: transparent;
  border: none;
  transition: 0.5s;
  transition-property: transform;
  color: red;
}

#myBtn2:focus,
#myBtn2:hover,
#myBtn2:active {
  outline: none;
  transform: scale(1.2);
}

#more3 {
  display: none;
}

#myBtn3 {
  background: transparent;
  border: none;
  transition: 0.5s;
  transition-property: transform;
  color: red;
}

#myBtn3:focus,
#myBtn3:hover,
#myBtn3:active {
  outline: none;
  transform: scale(1.2);
}

#more {
  display: none;
}

#myBtn {
  background: transparent;
  border: none;
  transition: 0.5s;
  transition-property: transform;
  color: red;
}

#myBtn:focus,
#myBtn:hover,
#myBtn:active {
  outline: none;
  transform: scale(1.2);
}

/* about us end */

/* clubs */
#services {
  position: relative;
  opacity: 1;
  padding: 60px 0 40px 0;
  box-shadow: inset 0px 0px 12px 0px rgba(255, 0, 0, 0.1);
}

#services {
  background: #1d1d1d;
  background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgb(0, 0, 0)),
    url("../img/gk/Geekonix Logo_White.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-blend-mode: screen;
  min-height: 100%;
  color: white;
}

#services .section-header {
  filter: contrast(4);
}

#services .section-header h3 {
  color: red;
  font-size: 3.5rem;
  font-weight: 700;
  text-align: center;
}

#services .section-header p {
  color: red;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
}

#services .box {
  padding: 45px;
  height: 450px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 10px;
  margin: 0 10px 40px 10px;
  background: rgb(0, 0, 0);
  box-shadow: 0 40px 40px rgba(26, 25, 25, 0.2),
    0px 0px 50px rgba(59, 52, 52, 0.329);
  transition: all 0.3s ease-in-out;
}

#services .box:hover {
  transform: scale(1.1);
}

#services .box .icon {
  margin-top: 40px;
  transition: all 0.3s ease-in-out;
}

#services .box:hover .icon {
  box-shadow: 0 40px 40px rgba(26, 25, 25, 0.2),
    0px 0px 50px rgba(255, 0, 0, 0.822);
  border-radius: 50%;
  transform: scale(1.25);
  margin-top: 30px;
  margin-bottom: 40px;
}

#services .box .icon img {
  width: 120px;
  transition: all 0.5s ease;
}

#services .box .icon img:hover {
  transform: translateZ(200px) rotateZ(-45deg);
}

#services .title {
  color: red;
  font-weight: bold;
}

#services .description {
  color: white;
  opacity: 0.8;
}

/* clubs end */

#why-us {
  padding: 10px 0;
  background: rgb(0, 0, 0);
}

#why-us .section-header h3,
#why-us .section-header p {
  color: #fff;
}

#why-us .card {
  background: #8f0000;
  border-color: #8f0000;
  border-radius: 10px;
  margin: 0 15px;
  padding: 15px 0;
  text-align: center;
  color: #fff;
  transition: 0.3s ease-in-out;
  height: 100%;
}

#why-us .card:hover {
  background: #7a0000;
  border-color: #7a0000;
}

#why-us .card i {
  font-size: 48px;
  padding-top: 15px;
  color: #bfddfe;
}

#why-us .card h5 {
  font-size: 22px;
  font-weight: 600;
}

#why-us .card p {
  font-size: 15px;
  color: #d8eafe;
}

#why-us .card .readmore {
  color: #fff;
  font-weight: 600;
  display: inline-block;
  transition: 0.3s ease-in-out;
  border-bottom: #00458f solid 2px;
}

#why-us .card .readmore:hover {
  border-bottom: #fff solid 2px;
}

#why-us .counters {
  padding-top: 40px;
}

#why-us .counters span {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 48px;
  display: inline;
  color: #fff;
}

#why-us .counters p {
  padding: 0;
  margin: 0 0 20px 0;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #cce5ff;
}

/* Glimps */
#glimps {
  padding-top: 60px;
  padding-bottom: 90px;
  /* background: #979797; */
  min-height: 100%;
  background-image: linear-gradient(
      to bottom,
      rgba(10, 5, 5, 0.787),
      rgba(0, 0, 0, 1)
    ),
    url("../img/gk/Geekonix Logo_Black.png");
  /* box-shadow: inset 0px 0px 12px 0px rgba(255, 0, 0, 0.315); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-blend-mode: screen;
  color: white;
  overflow: hidden;
}

#glimps #portfolio-flters {
  padding: 0;
  margin: 5px 0 35px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  text-align: center;
}

#glimps #portfolio-flters li {
  cursor: pointer;
  margin: 15px 15px 15px 0;
  display: inline-block;
  padding: 8px 60px;
  font-size: 1.1rem;
  line-height: 40px;
  color: red;
  text-transform: uppercase;
  background: #000000;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
}

#glimps #portfolio-flters li:hover,
#glimps #portfolio-flters li.filter-active {
  background: red;
  color: #fff;
}

#glimps #portfolio-flters li:last-child {
  margin-right: 0;
}

#glimps .portfolio-item {
  position: relative;
  overflow: hidden;
  background: transparent;
  margin-bottom: 30px;
}

#glimps .portfolio-item .portfolio-wrap {
  overflow: hidden;
  position: relative;
  border-radius: 10px;
  margin: 0;
  transition: all 0.5s ease-in-out;
}

#glimps .portfolio-item .portfolio-wrap:hover {
  border-radius: 20px;
}

#glimps .portfolio-item .portfolio-wrap:hover img {
  border-radius: 20px;
  opacity: 0.7;
  transition: 0.3s;
}

#glimps .portfolio-item .portfolio-wrap .portfolio-info {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  opacity: 0;
  transition: 0.2s linear;
}

#glimps .portfolio-item .portfolio-wrap .portfolio-info h4 {
  font-size: 22px;
  line-height: 1px;
  font-weight: 700;
  margin-bottom: 14px;
  padding-bottom: 0;
}

#glimps .portfolio-item .portfolio-wrap .portfolio-info h4 a {
  color: #fff;
}

#glimps .portfolio-item .portfolio-wrap .portfolio-info h4 a:hover {
  border-radius: 20px;
  color: red;
}

#glimps .portfolio-item .portfolio-wrap .portfolio-info p {
  padding: 0;
  margin: 0;
  color: #e2effe;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
}

#glimps .portfolio-item .portfolio-wrap .portfolio-info .link-preview,
#glimps .portfolio-item .portfolio-wrap .portfolio-info .link-details {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

#glimps .portfolio-item .portfolio-wrap .portfolio-info .link-preview i,
#glimps .portfolio-item .portfolio-wrap .portfolio-info .link-details i {
  padding-top: 60px;
  font-size: 22px;
  color: rgb(255, 0, 0);
}

#glimps .portfolio-item .portfolio-wrap .portfolio-info .link-preview:hover i,
#glimps .portfolio-item .portfolio-wrap .portfolio-info .link-details:hover i {
  border-radius: 20px;
  color: rgb(255, 255, 255);
}

#glimps .portfolio-item .portfolio-wrap:hover {
  border-radius: 20px;
  transform: scale(1.2);
}

#glimps .portfolio-item .portfolio-wrap:hover .portfolio-info {
  border-radius: 20px;
  opacity: 1;
}
/* Glimps end */

/* contact us */

#contact {
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.89),
    rgba(0, 0, 0, 1)
  );
  padding: 60px 0;
  overflow: hidden;
}

#contact .section-header {
  padding-bottom: 30px;
}

#contact .contact-body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#contact .contact-body .details {
  background: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 30px;
  box-shadow: 2px 0px 30px rgba(58, 2, 2, 0.1);
}
#contact .contact-body .map-view {
  box-shadow: 2px 0px 30px rgba(58, 2, 2, 0.1);
}

#contact .contact-body .map-view .info i {
  color: red;
  font-size: 3rem;
}

#contact .contact-body .map-view .info p {
  color: white;
  font-size: 1rem;
}

iframe {
  border-radius: 10px;
  border: 0;
  width: 47rem;
  height: 312px;
}

#contact .form {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  background: transparent;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

#contact .form #sendmessage {
  color: #007bff;
  border: 1px solid #007bff;
  display: none;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

#contact .form #errormessage {
  color: red;
  display: none;
  border: 1px solid red;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

#contact .form #sendmessage.show,
#contact .form #errormessage.show,
#contact .form .show {
  display: block;
}

#contact .form .validation {
  color: red;
  display: none;
  margin: 0 0 20px;
  font-weight: 400;
  font-size: 13px;
}

#contact .form input {
  width: 350px;
  height: 45px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(251, 251, 251, 0.1);
  outline: none;
  margin: 10px 0px;
  padding: 10px;
  box-sizing: border-box;
  color: #f4f4f4;
  display: flex;
}

#contact .form textarea {
  width: 350px !important;
  height: 200px !important;
  outline: none;
  background-color: transparent;
  border: 1px solid rgba(82, 82, 82, 1);
  color: #f4f4f4;
  padding: 10px;
  font-size: 1.2rem;
  box-sizing: border-box;
}

#contact .form input:focus,
#contact .form textarea:focus,
#contact .form input:active,
#contact .form textarea:active {
  outline: none !important;
}

#contact .form input::placeholder,
#contact .form textarea::placeholder {
  color: white;
  opacity: 0.7;
}

#contact .form button[type="submit"] {
  background: #ffffff;
  border: 0;
  border-radius: 20px;
  padding: 8px 30px;
  color: rgb(0, 0, 0);
  font-size: 1rem;
  transition: 0.3s;
}

#contact .form button[type="submit"]:hover {
  background: #ff0000;
  cursor: pointer;
}

/* back to top button */
.back-to-top {
  position: fixed;
  display: none;
  background: red;
  color: #fff;
  width: 44px;
  height: 44px;
  text-align: center;
  line-height: 1;
  font-size: 16px;
  border-radius: 30%;
  right: 20px;
  bottom: 15px;
  transition: 0.5s;
  z-index: 11;
  transition: all 0.7s ease-in-out;
}

.back-to-top img {
  image-rendering: auto;
  width: 40px;
}

.back-to-top:hover {
  bottom: 30px;
  transform: scale(1.1);
}

/* back to top end */

/* footer */
footer {
  position: relative;
  width: 100%;
  height: auto;
  padding: 50px 100px;
  background: #000000;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  overflow: hidden;
}

footer .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

footer .container .sec {
  margin-right: 50px;
}

footer .container .sec.aboutus {
  width: 40%;
}

footer .container h2 {
  position: relative;
  color: #fff;
  font-weight: 500;
  margin-bottom: 15px;
}

footer .container h2:before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 50px;
  height: 2px;
  background: #f00;
}

footer p {
  color: #999;
}

footer .copyright {
  text-align: center;
  color: rgb(255, 255, 255);
  margin-left: 35%;
}

.sci {
  margin-top: 20px;
  display: flex;
}

.sci li {
  list-style: none;
}

.sci li a {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: transparent;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 30px;
  text-decoration: none;
  border-radius: 4px;
}

.sci li a:hover {
  background: #f00;
}

.sci li a i {
  color: rgb(255, 255, 255);
  font-size: 2rem;
}

/* footer end */

/* responsivness */
@media screen and (max-width: 1200px) {
  #intro .intro-img,
  #intro .intro-info {
    float: none;
  }

  #intro .intro-info {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  #intro .intro-img {
    margin-top: 30px;
    width: 100%;
  }

  #services .box .icon {
    margin-top: 50px;
  }

  #services .title {
    font-size: 1.2rem;
    font-weight: bold;
  }

  #services .description {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 1000px) {
  .main-nav-v,
  .main-nav-v * {
    display: flex;
    flex-direction: column;
    text-align: center;
    top: 9%;
    left: 50%;
    position: fixed;
    background-color: rgb(0, 0, 0);
    width: 50%;
  }

  .main-nav-v ul {
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    margin: 0;
  }

  .main-nav-v > ul > li {
    left: 0;
    margin-left: -180px;
  }

  .main-nav-v.show {
    display: none;
  }

  .menu-btn {
    margin-right: 30px;
    display: block;
  }

  #services .box {
    height: 500px;
  }

  #services .box .icon {
    margin-top: 20px;
  }
  footer {
    padding: 40px;
  }
  footer .container {
    flex-direction: column;
  }
  footer .conatiner .sec {
    margin-right: 0;
    margin-bottom: 70px;
  }
  footer .container .sec.aboutus {
    margin-bottom: 30px;
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  p {
    font-size: 0.8rem;
    text-indent: center;
  }

  #about .about-extra p {
    font-size: 0.8rem;
  }

  .menu-btn {
    display: block;
    margin-right: 40px;
  }

  .menu-btn .menu-btn__burger {
    width: 40px;
    height: 4px;
    background: rgb(255, 0, 0);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
    transition: all 0.5s ease-in-out;
  }

  .menu-btn .menu-btn__burger::before,
  .menu-btn .menu-btn__burger::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 4px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
    transition: all 0.5s ease-in-out;
    cursor: pointer;
  }

  #services .section-header h3 {
    font-size: 3rem;
  }

  #services .section-header p {
    font-size: 1.5rem;
  }

  iframe {
    border-radius: 10px;
    border: 0;
    width: 80vw;
    height: 312px;
  }

  #contact .contact-body .map-view .map-details {
    display: none;
  }
}

@media (max-width: 480px) {
  .menu-btn {
    display: block;
    margin-right: 50px;
  }

  #header .logo img {
    height: 60px;
    margin-left: 30px;
  }
  #header .logo h1 a span,
  #header .logo h1 a span:hover {
    display: none;
  }

  #header .logo h1 a {
    font-size: 1rem;
  }

  #intro .intro-info h1 {
    font-size: 1rem;
    max-width: 280px;
    font-size: 2rem;
    padding: 0;
  }

  #intro .intro-img {
    /* display: none; */
  }

  #intro .intro-info .btn-get-started,
  #intro .intro-info .btn-services {
    padding: 10px;
  }

  #services .box .icon {
    margin-top: 40px;
  }
}

@media (max-width: 300px) {
  #intro .intro-info h1 {
    max-width: 200px;
    font-size: 1.3rem;
    padding: 0;
  }
}

@media (max-width: 280px) {
  #services .box {
    margin-bottom: 30px;
  }

  #services .box .icon img:hover {
    transform: translateZ(0) rotateZ(0);
  }

  #services .box:hover {
    transform: scale(1);
  }
}
